.articlesContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.addArticle {
    background: #e53935;
    border: none;
    width: 60px;
    line-height: 60px;
    padding: 0;
    border-radius: 60px;
    text-align: center;
    outline: none;
    position: fixed;
    right: 1vw;
    bottom: 5vh;
    box-shadow: 2px 3px 12px rgba(0,0,0,.1);
    transition: all .3s ease;
    color: #fff;
    font-size: 24px;
    z-index: 999;
}

.articleItem {
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,.1);
    transition: all .3s ease;
    position: relative;
    .fa-close {
        position: absolute;
        opacity: 0;
        transition: all .5s ease;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 10;
    }
    &:hover .fa-close {
        opacity: 1;
    }
}

.continueIcon {
    color: #0366d6;
    font-size: 12px;
    margin-left: 8px;
    display: inline-block;
    cursor: pointer;
}
